<div class="About">
    <div class="wrapper">
        <div class="logo"></div>

        <div class="kit-title-text title">Hi, folks!</div>
        <div class="text-line">This app is a small overview of CSS3 features which you can use in Phonegap development.</div>
        <div class="text-line">It's not full CSS3 guide.</div>
        <div class="text-line">All examples were tested on Android 2.3 - 4.4 and iOS 6 - 7.</div>
        <div class="text-line">Hope this app is handy for you.</div>

        <div class="text-line">
            My blog: <span class="kit-link blog-link" click-link-browser="http://www.alex-zhuk.com">alex-zhuk.com</span>.
        </div>
    </div>

</div>