<div class="GradientBorder">

    <div class="gr-border bg-image">
        <div class="kit-tip">Only one side border</div>
        <br/>
        <div class="kit-css-editor">
            <div class="line">
                <span class="prop-name">background-image:</span> <span class="prop-value">linear-gradient(#227d58, #eb5b4c);</span>
            </div>
            <div class="line">
                <span class="prop-name">background-size:</span> <span class="prop-value">0.2rem 100%;</span>
            </div>
            <div class="line">
                <span class="prop-name">background-repeat:</span> <span class="prop-value">no-repeat;</span>
            </div>
            <div class="line">
                <span class="prop-name">background-position:</span> <span class="prop-value">100% 0;</span>
            </div>
        </div>
    </div>
    <div class="gr-border bg-clip">
        <div class="kit-tip">Doesn't work on Android 2.3.</div>
        <div class="kit-tip">Doesn't allow to set transparent background.</div>
        <br/>
        <div class="kit-css-editor">
            <div class="line">
                <span class="prop-name">background-origin:</span> <span
                    class="prop-value">padding-box, border-box;</span>
            </div>
            <div class="line">
                <span class="prop-name">background-clip:</span> <span class="prop-value">padding-box, border-box;</span>
            </div>
            <div class="line">
                <span class="prop-name">border:</span> <span class="prop-value">0.2rem solid transparent;</span>
            </div>
            <div class="line">
                <span class="prop-name">background-image:</span> <span class="prop-value">linear-gradient(#e1e2e9, #e1e2e9), linear-gradient(#227d58, #eb5b4c);</span>
            </div>
        </div>
    </div>

    <div class="gr-border two-divs">
        <div>
            <div class="kit-tip">Doesn't allow to set transparent background.</div>
            <br/>

            <div class="kit-css-editor">
                <div class="kit-tip">For outer div</div>
                <div class="line">
                    <span class="prop-name">background:</span> <span class="prop-value">linear-gradient(to bottom, #227d58 0%, #eb5b4c 100%);</span>
                </div>
                <div class="line">
                    <span class="prop-name">padding:</span> <span class="prop-value">0.2rem;</span>
                </div>
                <br/>

                <div class="kit-tip">For inner div</div>
                <div class="line">
                    <span class="prop-name">height:</span> <span class="prop-value">100%;</span>
                </div>
                <div class="line">
                    <span class="prop-name">background-color:</span> <span class="prop-value">#e1e2e9;</span>
                </div>
            </div>
        </div>
    </div>

</div>