<div class="GradientText">

    <div class="gr-text-wrapper">
        <div class="kit-css-editor">
            <div class="line">
                <span class="prop-name">background:</span> <span
                    class="prop-value">linear-gradient(to bottom, #227d58 0%, #eb5b4c 100%);</span>
            </div>
            <div class="line">
                <span class="prop-name">-webkit-background-clip:</span> <span
                    class="prop-value">text;</span>
            </div>
            <div class="line">
                <span class="prop-name">color:</span> <span
                    class="prop-value">transparent;</span>
            </div>
        </div>
        <div class="gr-text">I'm a gradient text</div>
    </div>
</div>