<div class="Home" id="content">

    <div class="kit-dropdown-button closed" dropdown-button>
        <div class="button">Keyframe animation</div>
        <div class="content">This demo also covers CSS3 property <span class="kit-nobr">-webkit-transform: rotateZ().</span>
            <div>
                <div class="kit-dark-blue-button" click-link="/keyframes">Demo</div>
                <div class="kit-clear-both"></div>
            </div>
        </div>
    </div>

    <div class="kit-dropdown-button closed" dropdown-button>
        <div class="button">Transition</div>
        <div class="content">Feel free to use CSS3 transitions.
            <div>
                <div class="kit-dark-blue-button" click-link="/transitions">Demo</div>
                <div class="kit-clear-both"></div>
            </div>
        </div>
    </div>

    <div class="kit-dropdown-button closed" dropdown-button>
        <div class="button">Gradient text</div>
        <div class="content">As far as I know - no way to make gradient text on Android. But for iOS it works well.
            <div>
                <div class="kit-dark-blue-button" click-link="/gradienttext">Demo</div>
                <div class="kit-clear-both"></div>
            </div>
        </div>
    </div>

    <div class="kit-dropdown-button closed" dropdown-button>
        <div class="button">Gradient border</div>
        <div class="content">
            I found 3 ways to make gradient border. Thought, none of them of them is perfect.
            <div>
                <div class="kit-dark-blue-button" click-link="/gradientborder">Demo</div>
                <div class="kit-clear-both"></div>
            </div>
        </div>
    </div>


    <div class="kit-dropdown-button closed" dropdown-button>
        <div class="button">Gradient background</div>
        <div class="content">Thank God it works everywhere. Use
            <span class="kit-link" click-link-browser="http://www.colorzilla.com/gradient-editor/">Colorzilla</span>
            to easily generate cross-platform gradients.
            <div>
                <div class="kit-dark-blue-button" click-link="/gradientbackground">Demo</div>
                <div class="kit-clear-both"></div>
            </div>
        </div>
    </div>

    <div class="kit-dropdown-button closed" dropdown-button>
        <div class="button">Cube rotation</div>
        <div class="content">This demo covers bunch of CSS3 features.
            Like -webkit-transform, -webkit-perspective, -webkit-perspective-origin, -webkit-transform-style, keyframe animation and others.
            <div>Unfortunately it does not work on Android 2.3.</div>
            </br>
            <div>Tap "ADD CUBE" until your device blows up :)</div>
            <div>
                <div class="kit-dark-blue-button" click-link="/cube">Demo</div>
                <div class="kit-clear-both"></div>
            </div>
        </div>
    </div>

    </br>
    <div class="kit-dark-blue-button about" click-link="/about">About</div>
    <div class="kit-dark-blue-button source" click-link-browser="http://gitgub.com">Source on GitHub</div>
</div>