<div class="ImagePreload">

    <div class="kit-css-editor wrapped">
        <div class="selector-wrapper">
            <div class="selector">body:after {</div>
            <div class="line">
                <span class="prop-name">display:</span> <span
                    class="prop-value">none;</span>
            </div>
            <div class="line">
                <span class="prop-name">content:</span> <span
                    class="prop-value">url(../img/AZlogo.png);</span>
            </div>
            <div class="selector">}</div>
        </div>
    </div>

    <div class="logo"></div>

</div>