<div class="InputFixedHeader">
    <input class="kit-text-input" placeholder="Some text input" />
    <input class="kit-text-input" placeholder="Some text input" />
    <input class="kit-text-input" placeholder="Some text input" />
    <input class="kit-text-input" placeholder="Some text input" />
    <input class="kit-text-input" placeholder="Some text input" />
    <input class="kit-text-input" placeholder="Some text input" />
    <input class="kit-text-input" placeholder="Some text input" />
    <input class="kit-text-input" placeholder="Some text input" />
    <input class="kit-text-input" placeholder="Some text input" />
    <input class="kit-text-input" placeholder="Some text input" />
    <input class="kit-text-input" placeholder="Some text input" />
    <input class="kit-text-input" placeholder="Some text input" />
    <input class="kit-text-input" placeholder="Some text input" />
    <input class="kit-text-input" placeholder="Some text input" />
    <input class="kit-text-input" placeholder="Some text input" />
    <input class="kit-text-input" placeholder="Some text input" />
    <input class="kit-text-input" placeholder="Some text input" />
    <input class="kit-text-input" placeholder="Some text input" />
    <input class="kit-text-input" placeholder="Some text input" />
    <input class="kit-text-input" placeholder="Some text input" />
    <input class="kit-text-input" placeholder="Some text input" />
</div>