<div class="Keyframes">

    <div class="kit-css-editor wrapped">
        <div class="line">
            <span class="prop-name">background-image:</span> <span
                class="prop-value">url(../img/spiral.png);</span>
        </div>
        <div class="line">
            <span class="prop-name">-webkit-animation:</span> <span
                class="prop-value">spiral-rotation 5s infinite linear;</span>
        </div>

        <div class="selector-wrapper">
            <div class="selector">@-webkit-keyframes spiral-rotation {</div>
            <div class="line">
                <span class="prop-name">0% { <br/>-webkit-transform:</span> <span
                    class="prop-value">rotateZ(0deg);</span><br/><span class="prop-name">}</span>
            </div>
            <div class="line">
                <span class="prop-name">100% { <br/>-webkit-transform:</span> <span
                    class="prop-value">rotateZ(359deg);</span><br/><span class="prop-name">}</span>
            </div>
            <div class="selector">}</div>
        </div>
    </div>
    <div class="spiral"></div>
</div>