<div class="OverflowScroll">
    <div class="kit-css-editor wrapped">

        <div class="kit-tip">Below you can see div with very long list inside.
            <span class="prop-name">Overflow:</span> <span class="prop-value">scroll</span> won't
            apply on Android 2.3 and this list won't be scrollable.<br/>
            You can use plugins like iScroll to solve it.
        </div>
    </div>

    <div class="list-wrapper">
        <ul>
            <li>Text 1</li>
            <li>Text 2</li>
            <li>Text 3</li>
            <li>Text 4</li>
            <li>Text 5</li>
            <li>Text 6</li>
            <li>Text 7</li>
            <li>Text 8</li>
            <li>Text 9</li>
            <li>Text 10</li>
            <li>Text 11</li>
            <li>Text 12</li>
            <li>Text 13</li>
            <li>Text 14</li>
            <li>Text 15</li>
            <li>Text 16</li>
            <li>Text 17</li>
            <li>Text 18</li>
            <li>Text 19</li>
            <li>Text 20</li>
        </ul>
    </div>
</div>